<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body ng-controller="UploadController">
    <input type="file" onchange="angular.element(this).scope().fileChanged(this)">
    <button ng-click="download()">Download</button></br>
    <select
        ng-model="fileName" ng-options="opt as opt for opt in fileNames">
    </select>
    content:</br> <textarea ng-model="fileContent"></textarea></br>
    <input type="text" ng-model="newFileName"> <button ng-click="save()">Save</button></br>
    <button ng-click="query()">List Files</button></br>
    <!--<ul>
      <li ng-repeat="fName in fileNames">{{fName}}</li>
    </ul>-->
    <p ng-repeat="fName in fileNames" ng-bind="fName"></p>
    <!-- <p ng-repeat="fName in fileNames" >{{fName}}</p> -->
    <!-- Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>

    <script src="/javascripts/index.js"></script>


  </body>
</html>
